<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' type='text/css' href="main.css" >
	<link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet"> 
	<script src="vue.min.js"></script>
	<title></title>
</head>
<body>

	<div class="header">
		<h1 v-bind:style="{color: elemColor}" id="title">{{ message }}</h1>
	</div>

	<div class="icon">
		<img id='icon' v-bind:src="imageFile" alt="">
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="csv.js"></script>
</body>
</html>
